#bigvid-container {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  overflow: hidden;

  video {
    opacity: 0.95;
    filter: alpha(opacity=95); /* For IE8 and earlier */
  }

  #bigvid-video {
    min-width: 100%;
    min-height: 100%;
    background: url(/assets/video/poster6.jpg) no-repeat;
    background-size: cover;
  } 
}