#index-nonvid {

  #index-top {
    height: 100%;

    #index-desc {
      position: absolute;
      bottom: 40%;
      left: 10%;
      // padding: 8em 0 0 4em;

      h2 {
        font-family: $body-sans-serif-stack;
        font-size: 250%;
        color: #FFFFFF;
        font-weight: 100;
      }
    }

  }

  #index-bottom {
    background-color: white;

    #about, #work {
      padding: 6em 0 4em 0;

      h3 {
        color: $dark-gray;
        font-family: $body-sans-serif-stack;
        font-size: 175%;
        text-align: center;
        margin-bottom: 1em;
      }
    }

    #about {
      #about-desc {
        width: 60%;
        min-width: 500px;
        margin: 0 auto 2em auto;
        font-family: $body-sans-serif-stack;
        font-size: 125%;
        text-align: center;

        a {
          text-decoration: none;
          color: $light-gray;
          &:hover {
            text-decoration: underline;
            transition: .3s;
          }
        }
      }

      #resume {
        display: block;
        text-decoration: none;

        #resume-box {
          margin: 2em auto 0 auto;
          border: 1px solid $light-gray;
          color: $light-gray;
          font-family: $body-sans-serif-stack;
          font-size: 100%;
          width: 33%;
          min-width: 200px;
          text-align: center;
          padding: 1em 2em;

          &:hover {
            border: 1px solid $dark-gray;
            color: $dark-gray;
            transition: .3s;
          }
        }
      }
    }

    #work {
      margin-bottom: 2em;

    }
  }

}