#navbar {
  width: 100%;

  a {
    line-height: 1;
  }

  width: 100%;
  background-color: #FFFFFF;
  padding: 1em 2em;

  #navbar-initials {
    font-size: 1.75em;
    font-weight: 400;

    a {
      color: $dark-gray;
      text-decoration: none;
      &:hover {
        color: $light-gray;
        transition: .3s;
      }
    }
  }

  #navbar-options {
    display: block;
    a {
      font-size: .9em;
      font-family: $feature-sans-serif-stack;
      font-weight: 400;
      text-decoration: none;
      color: $light-gray;
      &:hover {
        color: $dark-gray;
        transition: .3s;
      }
    }
  }

  border-bottom: 1px solid $light-gray;

}