#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  a {
    line-height: 1;
  }

  width: 100%;
  background-color: #FFFFFF;
  padding: 1em 2em;

  #navbar-initials {
    display: inline-block;
    font-size: 1.75em;
    font-weight: 400;

    a {
      color: $dark-gray;
      text-decoration: none;
      &:hover {
        color: $light-gray;
        transition: .3s;
      }
    }
  }

  #navbar-options {
    display: block;
    float: right;
    position: relative;
    top: .5em;

    li {
      padding-left: 2em;
      display: inline-block;
    }

    a {
      font-size: .9em;
      font-family: $feature-sans-serif-stack;
      font-weight: 400;
      text-decoration: none;
      color: $light-gray;
      &:hover {
        color: $dark-gray;
        transition: .3s;
      }
    }
  }

  border-bottom: 1px solid $light-gray;

}