@media (min-width: 900px) {
  .work-example {
    display: inline-block;
    width: 30%;
    margin: 0 auto;
    padding: 1em 2em;
  }

  .work-example-left, .work-example-middle {
    margin-right: 4%;
  }

  .work-example-middle {
    position: relative;
    left: .5%;
  }

  .work-example-right {
    margin-right: 0;
    position: relative;
    left: 1%;
  }

  #about-desc {
    width: 60%;
  }

  #work-open-source {
    width: 66%;
  }

  #work-examples-container {
    width: 80%;
  }

  #footer-contact {
    font-weight: 300;
  }

  #navbar {
    position: fixed;
    top: 0;
    z-index: 2;

    #navbar-initials {
      display: inline-block;
    }

    #navbar-options {
      float: right;
      position: relative;
      top: .5em;

      li {
        padding-left: 2em;
        display: inline-block;
      }
    }
  }

  #index-top {
    height: 100%;

    #index-desc {
        // color: $light-gray;
        // color: #E6E6E6;
        position: absolute;
        bottom: 20%;
        left: 10%;
        // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
  }

  #resume-box {
    width: 33%;
  }
}

@media (max-width: 899px) {
  html {
    width: 100%;
    // font-size: 150%;
  }

  #bigvid-container {
    display: none;
  }

  .work-example {
    display: block;
    width: 95%;
    margin: 2em auto 4em;
  }

  #about-desc, #work-open-source, #work-examples-container {
    width: 90%;
  }

  #footer-contact {
    font-weight: 400;
  }

  #index-desc {
    margin-left: 2em;
  }

  #navbar-initials {
    margin-bottom: 1em;
  }

  #resume-box {
    width: 80%;
  }
}

// @media (max-width: 770px) {
//   html {
//     font-size: 200%;
//   }
// }

