// $feature-sans-serif-stack: 'Montserrat', Helvetica, sans-serif;
// $body-sans-serif-stack: 'Lato', Helvetica, sans-serif;
$feature-sans-serif-stack: 'Open Sans', sans-serif;
$body-sans-serif-stack: $feature-sans-serif-stack;

$dark-gray: #2F2F2F;
$light-gray: #959595;
