$feature-sans-serif-stack: 'Montserrat', Helvetica, sans-serif;
$body-sans-serif-stack: 'Lato', Helvetica, sans-serif;

// $dark-gray: #434343;
// $light-gray: #7B7B7B;

$dark-gray: #2F2F2F;
$light-gray: #959595;
